/*!
 * Stylesheet created specially for africa strikes
 */
/* Makes sure the input fields are of same width.*/
.input-full-width{
    width: 100%;
    min-width: 100%;
    max-width: 100%;
}
.error-header{
    margin-top: 10%;
    margin-bottom: 5%;
    text-align: center;
}
.error-explanation{
    text-align: center;
    width: 40%;
    height: 20%;
    max-height: 20%;
    border-style: dashed;
    border-width: 1px;
    margin-bottom:5%;
}
.error-button-field{
    max-width: 100%;
    text-align: center;
}
.error-button{
    width: 20%;
    max-width: 20%;
    height: 50px;
}
.site-slogan{
    font-family: Georgia,'Times New Roman',serif;
    line-height: 15px;
    color: #A078A0;
    margin-top: 52px;
    font-size: 42px;
    float: right;
}
.africa-header{
    padding-top: 9px;
}
.h2Africa{
    float: right;
    margin-right: 2px;
}
